<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">KAKIKATA</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active dropdown">
					<a class="dropdown-toggle" id="dropdownMenuKana" data-toggle="dropdown" >Les Kanas <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuKana">
						<li role="presentation"><a role="menuitem" tabindex="-1" href="/kanas#/tab-hiraganas">Hiraganas</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="/kanas#/tab-katakanas">Katakanas</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" id="dropdownMenuQuiz" data-toggle="dropdown" >Quiz <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuQuiz">
						<li role="presentation"><a role="menuitem" tabindex="-1" href="/quiz#/hiraganas">Hiraganas</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="/quiz#/katakanas">Katakanas</a></li>
					</ul>
				</li>
				<li><a href="/kanjis">Kanjis</a></li>
			</ul>
		</div>
	</div>
</nav>
