
<div class="container">
    <div class="main" id="main_kana">
        <h1>{{kana.jp}}</h1>
    </div>

<!-- Bouton Retour ? -->
    <div class="body">

        <div class="row">
            <div class="col-xs-12 col-sm-6" >
                <div id="svg">
                    <div id="svg-kana-wrapper" class="svg-wrapper">
                        <svg id="svg-kana-bg" class="svg_animation_bg" height="109" version="1.1" width="109" xmlns="http://www.w3.org/2000/svg"></svg>
                        <svg id="svg-kana" class="svg_animation" height="109" version="1.1" width="109" xmlns="http://www.w3.org/2000/svg"></svg>
                    </div><!--
                    --><div id="svg-kana2-wrapper" class="svg-wrapper">
                        <svg id="svg-kana2-bg" class="svg_animation_bg" height="109" version="1.1" width="109" xmlns="http://www.w3.org/2000/svg"></svg>
                        <svg id="svg-kana2" class="svg_animation" height="109" version="1.1" width="100" xmlns="http://www.w3.org/2000/svg"></svg>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6" id="infos">
                <audio src="{{kana.audio}}"></audio>
                <ul>
                    <li>Nombre de traits : <span class="kana_data">{{kana.nbTraits}}</span></li>
                    <li>Roma-ji : <span class="kana_data">{{kana.roma}}</span></li>
                    <li>Phonétique : <span class="kana_data">[{{kana.phonetic}}]</span></li>
                    <li>Prononciation : <span class="kana_data" >Play</span></li>
                </ul>
            </div>
        </div>
        <div id="grille_traits">


        
        </div>

        <div id="zone_ecriture">
        </div>


    </div>
</div>
