
<div class="container">
    <div class="main">
        <h1>{{kana}}</h1>
    </div>

<!-- Bouton Retour ? -->

    <div id="svg">
        <div id="svg-kana-wrapper" class="svg-wrapper">
            <svg id="svg-kana-bg" class="svg_animation_bg" height="109" version="1.1" width="109" xmlns="http://www.w3.org/2000/svg"></svg>
            <svg id="svg-kana" class="svg_animation" height="109" version="1.1" width="109" xmlns="http://www.w3.org/2000/svg"></svg>
        </div><!--
        --><div id="svg-kana2-wrapper" class="svg-wrapper">
            <svg id="svg-kana2-bg" class="svg_animation_bg" height="109" version="1.1" width="109" xmlns="http://www.w3.org/2000/svg"></svg>
            <svg id="svg-kana2" class="svg_animation" height="109" version="1.1" width="100" xmlns="http://www.w3.org/2000/svg"></svg>
        </div>
    </div>
</div>
