
<div class="container" ng-mouseup="onMouseUp($event)">
    <div class="main" id="main_kana">
        <h1>{{kana.jp}}</h1>
    </div>

    <div class="body">

        <div class="row">
            <div class="col-xs-12 col-sm-6" >
                <div id="svg">
                    <div id="svg-kana-wrapper" class="svg-wrapper">
                        <svg id="svg-kana-bg" class="svg_animation_bg" height="109" version="1.1" width="109" xmlns="http://www.w3.org/2000/svg"></svg>
                        <svg id="svg-kana" class="svg_animation" height="109" version="1.1" width="109" xmlns="http://www.w3.org/2000/svg"></svg>
                    </div><!--
                    --><div id="svg-kana2-wrapper" class="svg-wrapper">
                        <svg id="svg-kana2-bg" class="svg_animation_bg" height="109" version="1.1" width="109" xmlns="http://www.w3.org/2000/svg"></svg>
                        <svg id="svg-kana2" class="svg_animation" height="109" version="1.1" width="100" xmlns="http://www.w3.org/2000/svg"></svg>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-6" id="infos">
                <ul>
                    <li><label class="infosLabels">Nombre de traits : </label><span class="kana_data">{{kana.nbTraits}}</span></li>
                    <li><label class="infosLabels">Roma-ji : </label><span class="kana_data">{{kana.roma}}</span></li>
                    <li><label class="infosLabels">Phonétique : </label><span class="kana_data">[{{kana.phonetic}}]</span></li>
                </ul>
            </div>
        </div>
        <div id="grille_traits" class="clearer"></div>
        
        <div id="zone_ecriture"><canvas id="canvas" height="300" width="400" 
         ng-mousemove="onMouseMove($event)" 
         ng-mousedown="onMouseDown($event)" 
         ng-class="{valid: canvasValid, invalid: !canvasValid}" 
         ></canvas><button ng-click="effacer()" id="effacerBouton" class="btn btn-primary">Effacer</button></div>


    </div>
</div>
