
<div class="container">
	<div class="main">
		<h1>Tableau des Hiraganas<br/>平仮名</h1>
		<p class="lead">Sélectionnez un caractère pour voir sa fiche.</p>

		<div class="visible-desktop">





			<div class="symbols-line"><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">あ</div>
					<div class="symbol-romaji">a</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">か</div>
					<div class="symbol-romaji">ka</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">さ</div>
					<div class="symbol-romaji">sa</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">た</div>
					<div class="symbol-romaji">ta</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">な</div>
					<div class="symbol-romaji">na</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">は</div>
					<div class="symbol-romaji">ha</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">ま</div>
					<div class="symbol-romaji">ma</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">や</div>
					<div class="symbol-romaji">ya</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">ら</div>
					<div class="symbol-romaji">ra</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">わ</div>
					<div class="symbol-romaji">wa</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">ん</div>
					<div class="symbol-romaji">n</div>
				</div><!--
			--></div>
			<div class="symbols-line"><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">い</div>
					<div class="symbol-romaji">i</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">き</div>
					<div class="symbol-romaji">ki</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">し</div>
					<div class="symbol-romaji">shi</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">ち</div>
					<div class="symbol-romaji">chi</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">に</div>
					<div class="symbol-romaji">ni</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">ひ</div>
					<div class="symbol-romaji">hi</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">み</div>
					<div class="symbol-romaji">mi</div>
				</div><!--
				--><div class="symbol btn btn-primary symbol-hidden">
					<div class="symbol-japan"></div>
					<div class="symbol-romaji"></div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">り</div>
					<div class="symbol-romaji">ri</div>
				</div><!--
				--><div class="symbol btn btn-primary symbol-hidden">
					<div class="symbol-japan"></div>
					<div class="symbol-romaji"></div>
				</div><!--
				--><div class="symbol btn btn-primary symbol-hidden">
					<div class="symbol-japan"></div>
					<div class="symbol-romaji"></div>
				</div><!--
			--></div>
			<div class="symbols-line"><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">う</div>
					<div class="symbol-romaji">u</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">く</div>
					<div class="symbol-romaji">ku</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">す</div>
					<div class="symbol-romaji">su</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">つ</div>
					<div class="symbol-romaji">tsu</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">ぬ</div>
					<div class="symbol-romaji">nu</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">ふ</div>
					<div class="symbol-romaji">fu</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">む</div>
					<div class="symbol-romaji">mu</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">ゆ</div>
					<div class="symbol-romaji">yu</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">る</div>
					<div class="symbol-romaji">ru</div>
				</div><!--
				--><div class="symbol btn btn-primary symbol-hidden">
					<div class="symbol-japan"></div>
					<div class="symbol-romaji"></div>
				</div><!--
				--><div class="symbol btn btn-primary symbol-hidden">
					<div class="symbol-japan"></div>
					<div class="symbol-romaji"></div>
				</div><!--
			--></div>
			<div class="symbols-line"><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">え</div>
					<div class="symbol-romaji">e</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">け</div>
					<div class="symbol-romaji">ke</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">せ</div>
					<div class="symbol-romaji">se</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">て</div>
					<div class="symbol-romaji">te</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">ね</div>
					<div class="symbol-romaji">ne</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">へ</div>
					<div class="symbol-romaji">he</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">め</div>
					<div class="symbol-romaji">me</div>
				</div><!--
				--><div class="symbol btn btn-primary symbol-hidden">
					<div class="symbol-japan"></div>
					<div class="symbol-romaji"></div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">れ</div>
					<div class="symbol-romaji">re</div>
				</div><!--
				--><div class="symbol btn btn-primary symbol-hidden">
					<div class="symbol-japan"></div>
					<div class="symbol-romaji"></div>
				</div><!--
				--><div class="symbol btn btn-primary symbol-hidden">
					<div class="symbol-japan"></div>
					<div class="symbol-romaji"></div>
				</div><!--
			--></div>
			<div class="symbols-line"><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">お</div>
					<div class="symbol-romaji">o</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">こ</div>
					<div class="symbol-romaji">ko</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">そ</div>
					<div class="symbol-romaji">so</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">と</div>
					<div class="symbol-romaji">to</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">の</div>
					<div class="symbol-romaji">no</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">ほ</div>
					<div class="symbol-romaji">ho</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">も</div>
					<div class="symbol-romaji">mo</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">よ</div>
					<div class="symbol-romaji">yo</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">ろ</div>
					<div class="symbol-romaji">ro</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">を</div>
					<div class="symbol-romaji">o</div>
				</div><!--
				--><div class="symbol btn btn-primary symbol-hidden">
					<div class="symbol-japan"></div>
					<div class="symbol-romaji"></div>
				</div><!--
			--></div>




		</div>
		<div class="hidden-desktop">
			<div class="symbols-line"><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">あ</div>
					<div class="symbol-romaji">a</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">い</div>
					<div class="symbol-romaji">i</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">う</div>
					<div class="symbol-romaji">u</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">え</div>
					<div class="symbol-romaji">e</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">お</div>
					<div class="symbol-romaji">o</div>
				</div><!--
			--></div>
			<div class="symbols-line"><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">か</div>
					<div class="symbol-romaji">ka</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">き</div>
					<div class="symbol-romaji">ki</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">く</div>
					<div class="symbol-romaji">ku</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">け</div>
					<div class="symbol-romaji">ke</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">こ</div>
					<div class="symbol-romaji">ko</div>
				</div><!--
			--></div>
			<div class="symbols-line"><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">さ</div>
					<div class="symbol-romaji">sa</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">し</div>
					<div class="symbol-romaji">shi</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">す</div>
					<div class="symbol-romaji">su</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">せ</div>
					<div class="symbol-romaji">se</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">そ</div>
					<div class="symbol-romaji">so</div>
				</div><!--
			--></div>
			<div class="symbols-line"><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">た</div>
					<div class="symbol-romaji">ta</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">ち</div>
					<div class="symbol-romaji">chi</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">つ</div>
					<div class="symbol-romaji">tsu</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">て</div>
					<div class="symbol-romaji">te</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">と</div>
					<div class="symbol-romaji">to</div>
				</div><!--
			--></div>
			<div class="symbols-line"><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">な</div>
					<div class="symbol-romaji">na</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">に</div>
					<div class="symbol-romaji">ni</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">ぬ</div>
					<div class="symbol-romaji">nu</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">ね</div>
					<div class="symbol-romaji">ne</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">の</div>
					<div class="symbol-romaji">no</div>
				</div><!--
			--></div>
			<div class="symbols-line"><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">は</div>
					<div class="symbol-romaji">ha</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">ひ</div>
					<div class="symbol-romaji">hi</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">ふ</div>
					<div class="symbol-romaji">fu</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">へ</div>
					<div class="symbol-romaji">he</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">ほ</div>
					<div class="symbol-romaji">ho</div>
				</div><!--
			--></div>
			<div class="symbols-line"><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">ま</div>
					<div class="symbol-romaji">ma</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">み</div>
					<div class="symbol-romaji">mi</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">む</div>
					<div class="symbol-romaji">mu</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">め</div>
					<div class="symbol-romaji">me</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">も</div>
					<div class="symbol-romaji">mo</div>
				</div><!--
			--></div>
			<div class="symbols-line"><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">や</div>
					<div class="symbol-romaji">ya</div>
				</div><!--
				--><div class="symbol btn btn-primary symbol-hidden">
					<div class="symbol-japan"></div>
					<div class="symbol-romaji"></div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">ゆ</div>
					<div class="symbol-romaji">yu</div>
				</div><!--
				--><div class="symbol btn btn-primary symbol-hidden">
					<div class="symbol-japan"></div>
					<div class="symbol-romaji"></div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">よ</div>
					<div class="symbol-romaji">yo</div>
				</div><!--
			--></div>
			<div class="symbols-line"><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">ら</div>
					<div class="symbol-romaji">ra</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">り</div>
					<div class="symbol-romaji">ri</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">る</div>
					<div class="symbol-romaji">ru</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">れ</div>
					<div class="symbol-romaji">re</div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">ろ</div>
					<div class="symbol-romaji">ro</div>
				</div><!--
			--></div>
			<div class="symbols-line"><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">わ</div>
					<div class="symbol-romaji">wa</div>
				</div><!--
				--><div class="symbol btn btn-primary symbol-hidden">
					<div class="symbol-japan"></div>
					<div class="symbol-romaji"></div>
				</div><!--
				--><div class="symbol btn btn-primary symbol-hidden">
					<div class="symbol-japan"></div>
					<div class="symbol-romaji"></div>
				</div><!--
				--><div class="symbol btn btn-primary symbol-hidden">
					<div class="symbol-japan"></div>
					<div class="symbol-romaji"></div>
				</div><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">を</div>
					<div class="symbol-romaji">o</div>
				</div><!--
			--></div>
			<div class="symbols-line"><!--
				--><div class="symbol btn btn-primary">
					<div class="symbol-japan">ん</div>
					<div class="symbol-romaji">n</div>
				</div><!--
				--><div class="symbol btn btn-primary symbol-hidden">
					<div class="symbol-japan"></div>
					<div class="symbol-romaji"></div>
				</div><!--
				--><div class="symbol btn btn-primary symbol-hidden">
					<div class="symbol-japan"></div>
					<div class="symbol-romaji"></div>
				</div><!--
				--><div class="symbol btn btn-primary symbol-hidden">
					<div class="symbol-japan"></div>
					<div class="symbol-romaji"></div>
				</div><!--
				--><div class="symbol btn btn-primary symbol-hidden">
					<div class="symbol-japan"></div>
					<div class="symbol-romaji"></div>
				</div><!--
			--></div>
		</div>
	</div>
</div>
