
<div class="container">
    <div class="main">
        <h1>Tous les Hiraganas<br/>平仮名</h1>
        <p class="lead">Cliquez sur un caractère pour voir sa fiche.</p>


        <div class="visible-desktop">

            <div class="symbols-pack">
                <div class="symbols-line row" ng-repeat="kanaline in getHiraganasByColumns()">
                    <a class="symbol btn btn-primary col-sm-1 {{getClassIfHidden(kana)}}" ng-repeat="kana in kanaline" ng-href="/kanas#/{{kana.jp}}">
                        <div class="symbol-japan">{{kana.jp}}</div>
                        <div class="symbol-romaji">{{kana.roma}}</div>
                    </a>
                </div>
            </div>

            <div class="symbols-pack">
                <div class="symbols-line row" ng-repeat="kanaline in getHiraganasDiacriticsByColumns()">
                    <a class="symbol btn btn-primary col-sm-1 {{getClassIfHidden(kana)}}" ng-repeat="kana in kanaline" ng-href="/kanas#/{{kana.jp}}">
                        <div class="symbol-japan">{{kana.jp}}</div>
                        <div class="symbol-romaji">{{kana.roma}}</div>
                    </a>
                </div>
            </div>

            <div class="symbols-pack">
                <div class="symbols-line symbols-digraphs row" ng-repeat="kanaline in getHiraganasDigraphsByColumns()">
                    <a class="symbol btn btn-primary col-sm-1 {{getClassIfHidden(kana)}}" ng-repeat="kana in kanaline" ng-href="/kanas#/{{kana.jp}}">
                        <div class="symbol-japan">{{kana.jp}}</div>
                        <div class="symbol-romaji">{{kana.roma}}</div>
                    </a>
                </div>
            </div>

            <div class="symbols-pack">
                <div class="symbols-line symbols-digraphs row" ng-repeat="kanaline in getHiraganasDigraphsDiacriticsByColumns()">
                    <a class="symbol btn btn-primary col-sm-1 {{getClassIfHidden(kana)}}" ng-repeat="kana in kanaline" ng-href="/kanas#/{{kana.jp}}">
                        <div class="symbol-japan">{{kana.jp}}</div>
                        <div class="symbol-romaji">{{kana.roma}}</div>
                    </a>
                </div>
            </div>

        </div>




        <div class="hidden-desktop">

        	<div class="symbols-pack">
                <div class="symbols-line row" ng-repeat="kanaline in getHiraganasByLines()">
                    <a class="symbol btn btn-primary col-xs-2 {{getClassIfHidden(kana)}}" ng-repeat="kana in kanaline" ng-href="/kanas#/{{kana.jp}}">
                        <div class="symbol-japan">{{kana.jp}}</div>
                        <div class="symbol-romaji">{{kana.roma}}</div>
                    </a>
                </div>
            </div>

            <div class="symbols-pack">
                <div class="symbols-line row" ng-repeat="kanaline in getHiraganasDiacriticsByLines()">
                    <a class="symbol btn btn-primary col-xs-2 {{getClassIfHidden(kana)}}" ng-repeat="kana in kanaline" ng-href="/kanas#/{{kana.jp}}">
                        <div class="symbol-japan">{{kana.jp}}</div>
                        <div class="symbol-romaji">{{kana.roma}}</div>
                    </a>
                </div>
            </div>

            <div class="symbols-pack">
                <div class="symbols-line symbols-digraphs row" ng-repeat="kanaline in getHiraganasDigraphsByLines()">
                    <a class="symbol btn btn-primary col-xs-2 {{getClassIfHidden(kana)}}" ng-repeat="kana in kanaline" ng-href="/kanas#/{{kana.jp}}">
                        <div class="symbol-japan">{{kana.jp}}</div>
                        <div class="symbol-romaji">{{kana.roma}}</div>
                    </a>
                </div>
            </div>

            <div class="symbols-pack">
                <div class="symbols-line symbols-digraphs row" ng-repeat="kanaline in getHiraganasDigraphsDiacriticsByLines()">
                    <a class="symbol btn btn-primary col-xs-2 {{getClassIfHidden(kana)}}" ng-repeat="kana in kanaline" ng-href="/kanas#/{{kana.jp}}">
                        <div class="symbol-japan">{{kana.jp}}</div>
                        <div class="symbol-romaji">{{kana.roma}}</div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
