@font-face {
    font-family: "ipaexg";
    src: url('ipaexg.ttf');
}
html {
    font-size: 100%;
}
body {
    padding-top: 50px;
}
.main {
    padding: 20px 15px;
    text-align: center;
}
.lead {
    margin-top: 30px;
}

nav li {
    cursor: pointer;
}

h1 {
    /*font-size: 3rem;*/
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #f0f0f0;
}

.symbols-line {
    margin-bottom: 5px;
}
.symbol-hidden {
    visibility: hidden;
}
.symbols-line .symbol:last-child {
    margin-right: auto;
}
.symbol {
    margin-right: 4.166666666%;/*5px;*/
    float: none;
}
.symbol-japan {
    font-family: "helvetica", "sans-serif", "verdana";/*, "ipaexg";*/
}
.symbols-pack {
    margin-bottom: 2em;
}

#grille_traits {
    margin-top: 20px;
    stroke-linecap: round;
}
#svg, .grille_trait_wrapper {
    display: inline-block;
    border: solid 2.5px #1d64a1;
    padding: 10px;
    background-color: #337ab7;
    border-radius: 5px;
}
.grille_trait_wrapper {
    margin-bottom: 10px;
    /*min-width: 244px;*/
}
.grille_trait_wrapper_parent {
    text-align: center;
}
/*
.grille_trait_sep {
    visibility: hidden;
    display: block;
    width: 0;
    height: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
}
*/
.svg-wrapper {
    position: relative;
    /*border-color: #008;*/
    display: inline-block;
    width: 109px;
    height: 109px;
}
#grille_traits .grille_trait {
    position: relative;
    display: inline-block;
}
.svg-wrapper svg {
    border-color: #008;
    position: absolute;
}
.svg-wrapper g, g.trait_path, g.trait_path_bg {
    fill: none;
    stroke-width: 3;
    stroke-linejoin: round;
}
g.trait_text {
    font-size: 1.3em;
    fill: #000;
    stroke: none;
    stroke-width: 0;
}
.svg_animation g {
    stroke: #fff;
}
.svg_animation_bg g, .trait_bg {
    /*stroke: #589fdc;*/
    stroke: #66adea;
}

#infos ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: left;
    margin-top: 15px;
    /*font-size: 3rem;*/
}
#infos li {
    margin-bottom: 15px;
}
.kana_data {
    background-color: #337ab7;
    color: #fff;
    border-radius: 4px;
    padding: 5px 10px;
}

.icon-check {
    background-image: url("../images/check.svg");
    vertical-align: bottom;
    background-repeat: no-repeat;
    /*background-size: 40px;*/
    /*background-position: center left 5px;*/
    display: inline-block;
    height: 35px;
    width: 35px;
    float: left;
    cursor: pointer;
}
.kana-title {
    background-color: #337ab7;
    border-color: #2e6da4;
    border-radius: 5px;
    color: #ffffff;
    padding: 5px 5px;
}

#zone_ecriture {
    margin-top: 20px;
    text-align: center;
}
#canvas {
    cursor: url("../images/pencil.png") 0 10, auto;
    border: 2.5px solid #1d64a1;
    border-radius: 5px;
}
#canvas.valid {
-moz-box-shadow: 0px 0px 15px 3px #009901;
-webkit-box-shadow: 0px 0px 15px 3px #009901;
-o-box-shadow: 0px 0px 15px 3px #009901;
box-shadow: 0px 0px 15px 3px #009901;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#009901, Direction=NaN, Strength=15);
}
#canvas.invalid {
-moz-box-shadow: 0px 0px 15px 3px #cb0000;
-webkit-box-shadow: 0px 0px 15px 3px #cb0000;
-o-box-shadow: 0px 0px 15px 3px #cb0000;
box-shadow: 0px 0px 15px 3px #cb0000;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#cb0000, Direction=NaN, Strength=15);
}
#effacerBouton {
    display: block;
    width: 400px;
    margin:auto;
    margin-top: 10px;
}

.clearer:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    width: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
}

.infosLabels {
    display: inline-block;
    width: 150px;
}

/* Large desktop */
@media (min-width: 1200px) {
    
    html {
        /*font-size: 16px;*/
    }
    .hidden-desktop {
        display: none;
    }
    .visible-desktop {
        display: block;
    }


    .symbol {
        /*width: 5rem;*/
        /*line-height: 2.2rem;*/
        margin-right: 0.8333333333333%;/*5px;*/
    }
    .symbol-japan {
        font-size: 20px;
        /*font-size: 2.5rem;*/
    }
    .symbol-romaji {
        /*font-size: 1.3rem;*/
    }
    .symbols-digraphs .symbol {
        /*width: 5.5rem;*/
    }
    .symbols-digraphs .symbol-japan {
        /*font-size: 2rem;*/
    }


    #svg {
        float: right;
    }

}

@media (min-width: 980px) and (max-width: 1199px) {
    
    html {
        /*font-size: 14px;*/
    }
    .hidden-desktop {
        display: none;
    }
    .visible-desktop {
        display: block;
    }

    .symbol {
        /*width: 4.1rem;*/
        /*line-height: 2.2rem;*/
        margin-right: 0.8333333333333%;/*5px;*/
    }
    .symbol-japan {
        font-size: 20px;
        /*font-size: 2.3rem;*/
    }
    .symbol-romaji {
        /*font-size: 1.3rem;*/
    }
    .symbols-digraphs .symbol {
        width: 9%;
        /*width: 5.5rem;*/
    }
    .symbols-digraphs .symbol-japan {
        /*font-size: 1.9rem;*/
    }


    #svg {
        float: right;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

    html {
        /*font-size: 12px;*/
    }
    .hidden-desktop {
        display: none;
    }
    .visible-desktop {
        display: block;
    }


    .symbol {
        /*width: 8rem;*/
        /*line-height: 3rem;*/
        margin-right: 0.8333333333333%;/*5px;*/
    }
    .symbol-japan {
        font-size: 20px;
        /*font-size: 3.5rem;*/
    }
    .symbol-romaji {
        /*font-size: 2rem;*/
    }
    .symbols-digraphs .symbol {
        width: 9%;
        /*width: 8.2rem;*/
    }
    .symbols-digraphs .symbol-japan {
        /*font-size: 3rem;*/
    }

    #svg {
        float: right;
    }
}
 
/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) {

    html {
        /*font-size: 10px;*/
    }
    .hidden-desktop {
        display: block;
    }
    .visible-desktop {
        display: none;
    }

    .symbol {
        /*width: 7.7rem;*/
        /*line-height: 3rem;*/
    }
    .symbol-japan {
        font-size: 20px;
    }
    .symbol-romaji {
        /*font-size: 2rem;*/
    }
    .symbols-digraphs .symbol {
        /*width: 8rem;*/
    }
    .symbols-digraphs .symbol-japan {
        /*font-size: 2.9rem;*/
    }


    .body {
        text-align: center;
    }
    #main_kana {
        padding: 2px inherit;
    }
    #main_kana h1 {
        /*font-size: 7rem;*/
    }
    #svg {
        text-align: left;
    }
    #infos {
        /*float: right;*/
    }


    g.trait_text {
        /*font-size: 2.5rem;*/
    }
}

/* Landscape phones and down */
@media (max-width: 480px) { 

    html {
        /*font-size: 8px;*/
    }
    .hidden-desktop {
        display: block;
    }
    .visible-desktop {
        display: none;
    }

    .symbol {
        /*width: 44px;*/
        /*line-height: 3rem;*/
    }
    .symbol-japan {
        font-size: 18px;
    }
    .symbol-romaji {
        /*font-size: 2rem;*/
    }
    .symbols-digraphs .symbol {
        /*width: 65px;*/
        width: 22%;
    }
    .symbols-digraphs .symbol-japan {
        /*font-size: 2.9rem;*/
    }

    .body {
        text-align: center;
    }
    #main_kana {
        padding: 2px inherit;
    }
    #main_kana h1 {
        /*font-size: 7rem;*/
    }
    #svg {
        text-align: left;
    }


    g.trait_text {
        /*font-size: 2.5rem;*/
    }

}
