<!doctype html>
<html lang="fr">
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/menu %>
		
		<div class="container">
			<div class="main">
				<h1>Bienvenue sur Kakikata<br/>書き方</h1>
				<p class="lead">Ce site est dédié à tous les débutants de l'écriture japonaise.<br/>Il permet d'apprendre les différents caractères qui composent la langue japonaise grâce aux différentes fiches et quiz présents sur le site.</p>
			</div>
		</div>

		<% include ../partials/bootstrap %>
	</body>
</html>
